header {
  margin-bottom: 2%;
}

.hero-body {
  padding-top: 0;
  padding-bottom: 0;
}

#current-weather {
  border: 1px solid black;
}

.city-date img {
  vertical-align: text-top;
}

button {
  width: 100%;
}

#day-container {
  color: white;
  background-color: #33475a;
  margin: 10px;
}

.data {
  font-weight: 500;
}
