header {
  margin-bottom: 2%;
}

.hero {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
}
.hero-body {
  padding-top: 0;
  padding-bottom: 0;
}

#current-weather {
  border: 1px solid black;
  background-color: #cfcfcf;
  background-image: linear-gradient(to bottom left, #1f3d61, #cfcfcf);

}

.city-date img {
  vertical-align: text-top;
}

button {
  width: 100%;
}

#day-container {
  color: white;
  background-color: #1f3d61;
  margin: 10px;
}

.data {
  font-weight: 500;
}

.forecast {
  width: 100%;
}

#clear-hist {
  border-bottom: 2px solid rgb(117, 117, 117);
  border-radius: 1px;
}

#clr-hist-btn {
  background-color: rgb(206, 206, 206);
}

form span {
  font-style: italic;
  padding-left: 0.5rem;
  color: grey;
}

.uv-low {
  background-color: #8dc443;
}

.uv-med {
  background-color: #fdd835;
}

.uv-high {
  background-color: #ffb301;
}

.uv-vhigh {
  background-color: #d1394a;
}

.uv-ehigh {
  background-color: #954f71;
}

.hide {
  display: none;
}

@media screen and (max-width: 330px) {
  #dashboard {
    font-size: 2rem;
  }
}